body {
	margin: 7px auto;
	padding: 0;
	background: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2E2E2E;
}

h1, h2, h3 {
	margin: 0;
	text-transform: none;
	font-weight: normal;
	color: /* #8CB70E*/ #000099;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #16316F; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	min-width: 1024px;
	_width: 1024px;
}

#wrapper-bgtop {
}

/* Header */

#header-wrapper {
}

#header {
	height: 98px;
	margin-left:20px;
	margin-right: 20px;
	margin-top:10px;
	background: url(images/img01.jpg) repeat-x left top; 
}

/* Menu */

#menu {
	float: right;
	width: 640px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
	border-right: 1px solid #FA8801;
}

#menu a {
	display: block;
	float: left;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
	color:#FA8801;
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

/* Search */

#search {
	float: right;
	width: 300px;
	padding: 10px;
}

#search form {
	float: left;
	margin: 0;
	padding: 22px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Verdana, Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 200px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #FA8801;
	color: #FFFFFF;
	font-weight: bold;
}

/* Page */

#page {
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 20px;
	padding: 40px 5px 0px 20px;
	background: #FFFFFF;
}


/** LOGO */

#logo {
	float: left;
	width: 260px;
	margin: 0 auto;
	padding-left: 30px;
	padding-top: 0px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	margin-top: -4px;
	text-transform: lowercase;
	font-size: 13px;
	color: #FA8801;
}

#logo h1 {
	padding-top: 10px;
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #AFD147;
	font-size: 42px;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}


#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	width: 500px;
	float: left;
	margin-left: 12px;
}
#contentspare {
	width: 780px;
	float: left;
	margin-left: 5px;
}

/* Post */

.post {
	margin-bottom: 45px;
}

.post .title {
	height: 44px;
	padding-left: 15px;
	color: /* #8CB70E*/ #000099;
}

.post .title a {
	height: 44px;
	padding-left: 15px;
	color: /* #8CB70E*/ #000099;
}

.post .date {
}

.post .meta {
	height: 32px;
	margin-left: 2px;
	padding: 4px 30px 2px 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 10px 5px;
}
.post .entry a:hover {
	color: #FA8801;
	text-decoration:none;
}
.post .entry li {
padding-left:5px;
padding-right: 25px;
color:#000000; 
size: 12px;
}

.post .links {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #546E09;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #961A06;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 170px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style: none;
	padding-top: 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
	list-style: none;
}

#sidebar li ul {
	margin: 0px 14px;
	list-style: none;
}

#sidebar li li {
	margin: 0;
	padding: 12px 0px;
	border-bottom: 1px dashed #ADADAD;
	list-style: none;
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
	font-weight: normal;
	text-transform:capitalize;
	list-style: none;
	color:#000099;
}

#sidebar li li a:hover {
	color: #FA8801;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
	color:#000000;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 14px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	list-style: none;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #CC0000;
}

#sidebar a:hover {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #16316F;
}


/* Right sidebar */
#right_sidebar {
	float: right;
	width: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-right: 15px;
}

#right_sidebar ul {
	list-style: none;
}


/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	margin-left:20px;
	margin-right: 20px;
	height: 50px;
	background: #000000;
}

#footer p {
	margin: 0px;
	padding: 16px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

table
{

	border-collapse: collapse;
	margin: 10px 0px;
}
th
{
	background: #efefef;
	height: 29px;
	padding-left: 5px;
	padding-right: 5px;
	color: #333333;
	text-align: left;
	text-decoration:underline;
	border-left: 1px solid #b6d59a;
	border-bottom: solid 2px #fff;
	font-size:12px;
}
tr
{
	height: 30px;
	color: #02409D;
}
td
{
	padding-left: 11px;
	padding-right: 11px;
	border-left: 1px solid #fff;
	border-bottom: solid 1px #fff;
}
tr.rowa
{
	background: #f8f8f8;
	text-transform:uppercase;
	font-size:11px;
}
tr.rowb
{
	background: #efefef;
	text-transform:uppercase;
	font-size:11px;	
}
tr.rowc
{
	background: #f8f8f8;
	font-size:11px;
	color: #000000;
}
tr.rowd
{
	background: #efefef;
	font-size:11px;	
	color: #000000;	
}
div.result_pages {
	margin-top:15px; text-align:left;
}
div.result_pages  a{border: 1px solid #555555; padding: 0px 3px; margin: 0 3px; text-decoration: none;
}

div.result_pages  span  {border: 1px solid #555555; background-color:#EBE0DB; padding: 0px 3px; margin: 0 3px; text-decoration: none;
}
.tree{

}
.tree th{
   text-decoration: none;
}

.tree .hitarea{
    float: left;
    width: 14px;
    height: 14px;
    display: block;

}
.tree .important{
    display:block;
    float:left;
    font-size:13px;
    line-height:13px;
    margin-left:3px;
    position:relative;
    top:-1px;
    width:100%;
	  
}
.tree ul{
    color: #363636 !important;
    font-weight: bold;

}
.tree ul li{
    float: left;
    width: 100%;
    padding: 5px 0 5px 16px;
}
.tree ul li ul{
    margin-top: 8px;
    font-weight: normal;
    float: left;

}
.tree ul li ul li a{
    color:#004477;
    font-size:12px;
    line-height:12px;
    margin-left:5px;
    position:relative;
    text-decoration:none;
    top:-3px;
}
.tree ul li ul li a:hover{
    color: #004477;
    text-decoration: underline;
    font-size: 12px;
}
.entry table, .entry{
    /*width: 100%;*/
}
.entry{
    border: 1px solid #7F9DB9;
    padding: 0 !important;
    float: left;
    min-width: 800px;
}
.entry table{
    /*width: 100%;*/
    margin: 0!important;
    width: 100%;
}
.entry a{
    text-decoration: none;
}
.entry th {
    background-color: #D8E4F0;
    font-weight: bold;
    height: 30px;
    text-decoration: none !important;

}
.entry th{
border: 1px solid white!important;
}
.entry tr{
    border: 1px solid white !important;
}
.entry tr *{
  text-align: left;
    color: #363636 !important;
}
.entry td{
    padding: 0 0 0 5px !important;
    height: 22px;
}
.entry tr:hover{
    background-color: #D8E4F0;
    cursor: pointer;
}